h1, .movieInfo {
    margin: 50px;
    color: white;
    font-family: Arial;
  }

.row {
  margin: 50px;
  max-width: 500px;
  text-align: justify;
  display: inline-block;
}

.label {
  font-weight: bold;
}

img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
  
 